header {
    font-family: "Helvetica", "Arial";
    font-size: large;
}
main {
    font-family: "Helvetica", "Arial";
    font-size: larger;
}
footer {
    font-family: "Helvetica", "Arial";
    font-size: small;
}

.menu {
    font-family: "Helvetica", "Arial";
}

.father {
    font-family: "Helvetica", "Arial";
}

.regular {
    font-family: "Helvetica", "Arial";
}

.img {
    font-family: "Helvetica", "Arial";
}

.rss {
    font-family: "Helvetica", "Arial";
}