* {
    font-family: "Helvetica", "Arial";
}
header {
    font-size: large;
}
main {
    font-size: larger;
}
footer {
    font-size: small;
}

.menu {
}

.father {
}

.regular {
}

.img {
}

.rss {
}